@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0px;
  margin: 0px;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.btn-primary {
  padding: 20px;
  border: none;
  border-radius: 5px;
  color: #005fac;
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
}
.btn-secondery {
  padding: 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #005fac;
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
}
header {
  background-image: url("/images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* overflow: hidden; */
  width: 100%;
  height: 808px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.banner-area {
  text-align: right;
  width: 50%;
  float: right;
}
.banner-area h1 {
  color: #fff;
  font-weight: 700;
  font-size: 4rem;
}

.banner-area p {
  color: #fff;
  font-size: 1rem;
  line-height: 26px;
  margin: 20px 0px;
}

.banner-area {
  margin-right: 150px;
}
.banner-area h1 {
  color: #fff;
  font-weight: 700;
  font-size: 4rem;
  padding-left: 70px;
}

.banner-area p {
  color: #fff;
  font-size: 1rem;
  line-height: 26px;
  margin: 20px 0px;
  padding-left: 70px;
}

.banner-area {
  margin-right: 100px;
  padding: 20px;
}
.failure-are {
  display: flex;
  align-items: center;
  grid-column-gap: 20px;
  justify-content: space-around;
  margin: 100px 0px;
}
.failure-left {
  width: 50%;
}

.failure-left img {
  width: 70%;
}
.failure-right {
  width: 50%;
}
.failure-right h2 {
  color: #151414;
  font-weight: 700;
  font-size: 2.5rem;
  margin-right: 150px;
}

.failure-right p {
  margin: 23px 0px;
  font-size: 1rem;
  color: #444343;
  font-weight: 400;
  line-height: 26px;
}
.list ul {
  padding: 0px;
}

.list ul li {
  list-style: none;
  margin: 10px 0px;
  color: #444343;
  font-size: 1rem;
  font-weight: 400;
}
.list ul li i {
  color: #16d887;
  margin-right: 12px;
}
.plans-area h2 {
  text-align: center;
  color: #151414;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 60px;
}

.plan-info {
  /* margin: 30px 0px; */
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.plan-card img {
  width: 76px;
}

.plan-card h3 {
  color: #151414;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 10px 0px;
}

.plan-card p {
  color: #737272;
  font-size: 1.2rem;
  font-weight: 500;
}
.bottom-banner-area {
  margin: 100px 0px;
  border-radius: 5px;
  background-image: url("../images/watch.png");

  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.bottom-banner-info {
  margin: 100px 0px;
  border-radius: 5px;
  background-image: url("../images/gradient1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.bottom-banner-text h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
}
.bottom-banner-text {
    display: flex;
    position: absolute;
    align-items: center;
    height: 300px;
    margin-left: 64px;
}
footer {
    background: #151414;
}
.footer-area {
    display: flex;
    padding: 100px 0px;
    column-gap: 60px;
    justify-content: space-around;
}

.footer-left {
    color: #fff;
  width: 50%;
}

.footer-right {
    color: #fff;
  width: 50%;
  margin-left: 200px;
}
.footer-left p {
    margin: 20px 0px;
    font-size: 1rem;
    line-height: 26px;
    font-weight: 400;
}

.icon img {
    margin-right: 15px;
}

.footer-right h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer-right input {
    display: block;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #fff;
    font-size: 1.125rem;
    letter-spacing: 2px;
    width: 55%;
    background: transparent;
  
}